*{
    margin: 0;
    padding-top: 0;
}
header{
    margin-top: 30px;
    /* background: url(./assets/hero-bg.png); */
}


.inter-fonts{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    display: flex;
    width: 1200px;
    max-width: 1600px;
    height: 92px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
nav .nav-logo img{
    width: 139px;
    height: 60px;
}
.nav-menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    font-size: 16px;
    text-align: center;
    


}
.nav-menu li a{
    text-decoration: none;
    color: black;
}
.btn button{
    width: 185px;
    height: 44px;
    padding: 12px 16px;
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 04px;
    cursor: pointer; 
}
.btn button:hover{
    background-color: rgb(75, 46, 46);
    color: rgb(122, 73, 174);
    font-size: 18px;

}
#hero{
    height: 600px;
    background: url(./assets/hero-bg.png);
}
.hero-container{
    width: 585px;
    height: 250px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}
.hero-container .btn-2 button{
    margin-top: 100px;
    background-color: white;
    color: green;
    width: 300px;
    height: 44px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
}
.hero-container h1 {
    color: white;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 70px;
    margin: 30px 0;
    
}
.hero-container h1 .accent{
    color: green;
}
.hero-container p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.hero-container .btn-3{
    width: 250px;
    height: 44px;
    padding: 12px 16px;
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 04px;
    cursor: pointer; 
    margin-top: 30px;
}
.hero-container .btn-4{
    width: 250px;
    height: 44px;
    padding: 12px 16px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: 1x solid white;
    border-radius: 04px;
    cursor: pointer; 
    margin-top: 30px;
}