*{
    margin: 0;
    padding-top: 0;
}
header{
    margin-top: 30px;
    /* background: url(./assets/hero-bg.png); */
}


.inter-fonts{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    display: flex;
    width: 1200px;
    max-width: 1600px;
    height: 92px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
nav .nav-logo img{
    width: 139px;
    height: 60px;
}
.nav-menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    font-size: 16px;
    text-align: center;
    


}
.nav-menu li a{
    text-decoration: none;
    color: black;
}
.btn button{
    width: 185px;
    height: 44px;
    padding: 12px 16px;
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 04px;
    cursor: pointer; 
}
.btn button:hover{
    background-color: rgb(75, 46, 46);
    color: rgb(122, 73, 174);
    font-size: 18px;

}
#hero{
    height: 600px;
    background: url(./assets/hero-bg.png);
}
.hero-container{
    width: 585px;
    height: 250px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}
.hero-container .btn-2 button{
    margin-top: 100px;
    background-color: white;
    color: green;
    width: 300px;
    height: 44px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
}
.hero-container h1 {
    color: white;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 70px;
    margin: 30px 0;
    
}
.hero-container h1 .accent{
    color: green;
}
.hero-container p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.hero-container .btn-3{
    width: 250px;
    height: 44px;
    padding: 12px 16px;
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 04px;
    cursor: pointer; 
    margin-top: 30px;
}
.hero-container .btn-4{
    width: 250px;
    height: 44px;
    padding: 12px 16px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: 1x solid white;
    border-radius: 04px;
    cursor: pointer; 
    margin-top: 30px;
}
#card-section{
    padding-top: 100px;
}
#card-section .card-container{
    width: 1360px;
    margin: 0 auto;
}
.card-container .card-heading{
    text-align: center;
    margin: 0 auto;
}
.card-container .card-heading h1{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.card-container .card-heading p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}
#card-section .card-container .card-box{
    display: flex;
    gap: 24px;
}
.card-box .card{
    width: 322px;
    height: 322px;
    padding: 24px;
    box-shadow: 0 1px 3px 0 #b3a7a7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.card img{
    margin-top: 100px;
    width: 32px;
    height: 32px;
    background: rgba(249, 85, 85, 1);
    border-radius: 50%;
}
.card h3{
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
}
#brain{
    width: 1360px;
    margin-top: 50px;
    margin: 0 auto;
}
#brain .Brain-container{
    display: flex;
    padding: 12px;
    gap: 60px;
}
#brain .Brain-container img{
    
}
#brain .brain-describe{
    padding: 120px 0;
}
#brain .brain-describe h3{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: green;
    margin-bottom: 10px;
}
#brain .brain-describe h1{
    font-size: 48px;
    font-weight: 700;
    font-style: bold;
    margin-bottom: 10px;
}
#brain .brain-describe p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 15px;
    color: #a19f9f;
    
} 
#brain .brain-describe ul{
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    padding-left: 13px;
    font-style: Medium;
} 
#brain .brain-describe li{
    list-style: circle;
    line-height: 30px;
} 
#challange-section{
width: 1360px;
margin: 0 auto;
}
#challange-section .challange-container{
    margin-top: 50px;
    padding: 80px 40px;
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    align-items: center;
    display: flex;
    flex-direction: column;
}
#challange-section .challange-container h1{
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    /* margin-bottom: 5px; */
}
#challange-section .challange-container p{
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #a19f9f;
    text-align: center;
    padding: 15px 0;
}
footer{
    background: var(--Style, rgba(0, 25, 49, 1));
    padding: 120px 120px 30px 120px;
}
footer .footer-container{
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
footer .footer-social-link{
    height: 100px;
    width: 100px;
    margin-right: 80px;
}
footer .footer-container .footer-social-link h3{
    color: white;
    margin-bottom: 15px;
}
footer .footer-container .footer-social-link li{
    list-style: none;
   display: inline-block;
   
}
.footer-social-link li a{
    /* color: white; */
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
}
footer .copyright{
    text-align: center;
    font-size: 20px;
    color: white;
    margin-top: 20px;
}